<div class="jumbotron page-header">
  <img class="logo nofancybox" src="/images/logo.png" />
  <div class="subtitle text-center"><% if (config.subtitle){ %><%= config.subtitle %><% } else { %><%= config.title %><% } %></div>
</div>
