<!-- _partial/post/comment -->
<% if (page.comments){ %>
<section id="comment">
<script src="https://giscus.app/client.js"
        data-repo="rime/home"
        data-repo-id="MDEwOlJlcG9zaXRvcnkzMTgwMzgxNA=="
        data-category-id="MDE4OkRpc2N1c3Npb25DYXRlZ29yeTMyMDQxODEx"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
</section>
<% } %>
