<!-- index -->
<div class="downloads">
  <div class="download">
    <a class="btn btn-lg btn-primary" href="<%- url_for('download/weasel/') %>"><i class="fa fa-windows"></i>〔小狼毫〕<small><%- site.data.rime.version.weasel %></small></a>
  </div>
  <div class="download">
    <a class="btn btn-lg btn-primary" href="<%- url_for('download/squirrel/') %>"><i class="fa fa-apple"></i>〔鼠鬚管〕<small><%- site.data.rime.version.squirrel %></small></a>
  </div>
  <div class="download">
    <a class="btn btn-lg btn-default" href="https://github.com/rime/home/wiki/RimeWithTheCode"><i class="fa fa-code-fork"></i>&nbsp;&nbsp;複刻源碼</a>
  </div>
</div>
<hr class="thin" />
<div class="features">
  <div class="feature alpha">
    <div class="left illustration"></div>
    <div class="right">
      <h3>A TODO feature</h3>
      <p>A paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph.</p>
      <p>Another paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph.</p>
    </div>
  </div>
  <hr class="thin" />
  <div class="feature beta">
    <div class="left">
      <h3>A TODO feature</h3>
      <p>A paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph.</p>
      <p>Another paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph.</p>
    </div>
    <div class="right illustration"></div>
  </div>
  <hr class="thin" />
  <div class="feature gamma">
    <div class="left illustration"></div>
    <div class="right">
      <h3>A TODO feature</h3>
      <p>A paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph.</p>
      <p>Another paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph.</p>
    </div>
  </div>
</div>
<div class="ending-panel">
  <div class="features">
    <div class="feature delta">
      <div class="left">
        <h3>A TODO feature</h3>
        <p>A paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph.</p>
        <p>Another paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph.</p>
      </div>
      <div class="right illustration"></div>
    </div>
  </div>
</div>
