<!-- index -->
<div class="jumbotron page-header bg-primary">
  <img class="logo nofancybox" src="images/logo.png" />
  <div class="subtitle text-center"><% if (config.subtitle){ %><%= config.subtitle %><% } else { %><%= config.title %><% } %></div>
</div>

<!--%- partial('_partial/index', {index: true}) %-->

<h2 class="text-center">
  <p>請訪問新址</p>
  <p><a href="http://rime.github.io">rime.github.io</a></p>
</h2>
