<!-- index -->
<!-- Download Buttons -->
<div class="downloads">
  <div class="download">
    <a class="btn btn-lg btn-info" href="">下載 Windows 版【小狼毫】</a>
  </div>
  <div class="download">
    <a class="btn btn-lg btn-info" href="">下載 Mac OS X 版【鼠鬚管】</a>
  </div>
  <div class="download">
    <a class="btn btn-lg btn-primary" href="https://github.com/rime/home/wiki/RimeWithIBus">ibus-rime 安裝說明</a>
  </div>
</div>
<%/*
<!-- Features -->
<div class="features">
  <div class="feature">
    <div>這般好</div>
  </div>
  <div class="feature">
    <div>那般好</div>
  </div>
  <div class="feature">
    <div>好到爆</div>
  </div>
  <div class="feature">
    <div>好得感激涕零</div>
  </div>
</div>
*/%>
