<!-- index -->
<div class="downloads">
  <div class="download">
    <a class="btn btn-lg btn-primary" href=""><i class="fa fa-windows"></i>〔小狼毫〕<small>0.9.30</small></a>
  </div>
  <div class="download">
    <a class="btn btn-lg btn-primary" href=""><i class="fa fa-apple"></i>〔鼠鬚管〕<small>0.9.26</small></a>
  </div>
  <div class="download">
    <a class="btn btn-lg btn-default" href="https://github.com/rime/home/wiki/RimeWithTheCode"><i class="fa fa-code-fork"></i>&nbsp;&nbsp;複刻源碼</a>
  </div>
</div>
