<div class="front-matter page-header">
  <img src="/images/home-title.svg" data-png-fallback="/images/home-title.png" />
  <img src="/images/home-slogan.svg" data-png-fallback="/images/home-slogan.png" />
</div>
