<!-- _partial/sidebar -->
<div class="col-md-3">
	<div id="sidebar">
	<% theme.widgets.forEach(function(widget){ %>
			<%- partial('../_widget/' + widget) %>
		<% }); %>
	</div> <!-- sidebar -->
</div> <!-- col-md-3 -->
